################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ProyectoFinalTarde27-2/Avance_27/Proyecto/.vs
